<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app> 
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>in.controller.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAdminController</servlet-name>
  	<display-name>LoginAdminController</display-name>
  	<description></description>
  	<servlet-class>in.controller.LoginAdminController</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>UploadAlbumController</servlet-name>
  	<display-name>UploadAlbumController</display-name>
  	<description></description>
  	<servlet-class>in.controller.UploadAlbumController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlbumRetrieve</servlet-name>
  	<display-name>AlbumRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.AlbumRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlbumViewerController</servlet-name>
  	<display-name>AlbumViewerController</display-name>
  	<description></description>
  	<servlet-class>in.controller.AlbumViewerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPerformerController</servlet-name>
  	<display-name>UploadPerformerController</display-name>
  	<description></description>
  	<servlet-class>in.controller.UploadPerformerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAlbumTypeController</servlet-name>
  	<display-name>AddAlbumTypeController</display-name>
  	<description></description>
  	<servlet-class>in.controller.AddAlbumTypeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadTrackController</servlet-name>
  	<display-name>UploadTrackController</display-name>
  	<description></description>
  	<servlet-class>in.controller.UploadTrackController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackRetrieve</servlet-name>
  	<display-name>TrackRetrieve</display-name>
  	<description></description>
  	<servlet-class>in.downloader.TrackRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackViewerController</servlet-name>
  	<display-name>TrackViewerController</display-name>
  	<description></description>
  	<servlet-class>in.controller.TrackViewerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>in.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyCodeController</servlet-name>
  	<display-name>VerifyCodeController</display-name>
  	<description></description>
  	<servlet-class>in.controller.VerifyCodeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMailFPController</servlet-name>
  	<display-name>SendMailFPController</display-name>
  	<description></description>
  	<servlet-class>in.controller.SendMailFPController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forgotPasswordController</servlet-name>
  	<display-name>forgotPasswordController</display-name>
  	<description></description>
  	<servlet-class>in.controller.forgotPasswordController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAdminController</servlet-name>
  	<url-pattern>/Loginprocess</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>UploadAlbumController</servlet-name>
  	<url-pattern>/UploadAlbumController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbumRetrieve</servlet-name>
  	<url-pattern>/AlbumRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlbumViewerController</servlet-name>
  	<url-pattern>/AlbumViewerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPerformerController</servlet-name>
  	<url-pattern>/UploadPerformerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAlbumTypeController</servlet-name>
  	<url-pattern>/AddAlbumTypeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadTrackController</servlet-name>
  	<url-pattern>/UploadTrackController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackRetrieve</servlet-name>
  	<url-pattern>/TrackRetrieve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackViewerController</servlet-name>
  	<url-pattern>/TrackViewerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyCodeController</servlet-name>
  	<url-pattern>/VerifyCodeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMailFPController</servlet-name>
  	<url-pattern>/SendMailFPController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgotPasswordController</servlet-name>
  	<url-pattern>/forgotPasswordController</url-pattern>
  </servlet-mapping>
 
</web-app>
